h1{
	color: #000000;
	background-color: #ffffff;
}

p.Bienvenue{
	color: #000000;
	font-size: 26px;

}

p.regle{
	color: #FFFFFF;
	font-size: 23px;
}

a.{
	color: #015300;
}

p.un{
	font-size: 19px;
	color: #FFFFFF;
}

p.deux{
	font-size: 19px;
	color: #FFFFFF;
}

p.trois{
	font-size: 19px;
	color: #FFFFFF;
}

p.quatre{
	font-size: 19px;
	color: #FFFFFF;
}

p.cinq{
	font-size: 19px;
	color: #FFFFFF;
}

p.six{
	font-size: 19px;
	color: #AC1010;
}

p.sept{
	font-size: 19px;
	color: #AC1010;
}

p.huit{
	font-size: 30px;
	color: #000000;
	background-color: #ffffff;

}

body{
	background: url("http://www.manga-scan.com/Mangas/Rabbit%20Doubt/Chapitre01/[YT-X2]%20Doubt%20Chap1%20p003.jpg");
	background-position: 0cm -10cm ;
}

p.neuf{
color: #ffffff;
}

p.dix{
color: #ffffff;
}

P.huit{
color: #000000;
}